<div class="accordion-item mb-2">
    <button appCollapse class="accordion-header accordion-button" type="button">
        Accordion Item
    </button>

    <div class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="ms-4 ps-2">
                <h6 class="mb-3">JOHNATAN MILLER</h6>
                <h5 class="mb-3">Thanks for your order</h5>
    
                <em>Payment summary</em>
                <hr />
            </div>
            <ul>
                <li class="d-flex justify-content-between">
                    <strong>Ether Chair (Qty:1)</strong>
                    <span>€8.55</span>
                </li>
                <li class="d-flex justify-content-between">
                    <strong>Ether Chair (Qty:1)</strong>
                    <span>€8.55</span>
                </li>
                <li class="d-flex justify-content-between">
                    <strong>Ether Chair (Qty:1)</strong>
                    <span>€8.55</span>
                </li>
                <li class="d-flex justify-content-between">
                    <em>Shipping</em>
                    <span>€8.55</span>
                </li>
                <br />
                <hr />
                <li class="d-flex justify-content-between">
                    <strong>Total</strong>
                    <span>€8.55</span>
                </li>
            </ul>
        </div>
    </div>
</div>