<div class="modal fade show" style="display: block;" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="onClose()" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <h6>{{ message }}</h6>
        <a [routerLink]="routerLink">{{ routerLink }}</a>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClose()" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
</div>