<div class="container mt-4">
    <h1>Orders {{ receiptTotal() }}</h1>
    <hr />

    <div class="row mt-3" *ngIf="!emptyReceipts()">
        <div class="accordion accordion-flush">
            <app-order-item *ngFor="let receipt of receipts" [receipt]="receipt"></app-order-item>
        </div>
    </div>

    <div class="row justify-content-center mt-3" *ngIf="emptyReceipts()">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block mb-5 mt-5">Orders are empty</span>
            <div class="mb-4 lead">This page shows your order history created on the site!</div>
        </div>
    </div>
</div>