<div class="container mt-4">
    <h1>Receipts (5 orders)</h1>
    <hr />

    <div class="row mt-3">
        <div class="accordion accordion-flush">
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
            <app-order-item></app-order-item>
        </div>
    </div>
</div>