<div class="container mt-4">
    <h1>Admin Panel</h1>
    <hr />
    <div class="row mt-5">
        <div class="col-4">
            <div class="list-group" role="tablist">
                <a class="list-group-item list-group-item-action">Users</a>
                <a class="list-group-item list-group-item-action">Orders</a>
                <a class="list-group-item list-group-item-action">Products</a>
                <a class="list-group-item list-group-item-action active">Add Product</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
          </div>
    </div>
</div>
