<div class="container mt-4">
  <h1>Admin Panel</h1>
  <hr />
  <div class="row">
    <div class="col-md-12 mb-3">
      <button type="button" class="btn btn-success" routerLink="product/new"><i class="bi bi-plus-square"></i> New
        Product</button>
      <button type="button" class="btn btn-outline-success disabled mx-2">New coming features</button>
    </div>
    <div class="col-md-12">
      <input [(ngModel)]="filteredProduct" class="form-control me-2" type="search" placeholder="Search products">
    </div>
  </div>

  <div class="row mt-4">
    <app-product-item-edit class="col-md-12 mb-4" *ngFor="let product of products | filter:filteredProduct:'name'"
      [product]="product" (productsHasChanged)="onRefreshProducts($event)"></app-product-item-edit>
  </div>
</div>