<div class="container mt-4">
    <h1>Shopping Cart {{ productTotal() }}</h1>
    <hr />
    <div class="row mt-3">
        <div>
            <div class="card mb-3">
                <div class="card-body">
                    <app-cart-item 
                    *ngFor="let cartItem of cartItems" 
                    [cartItem]="cartItem"
                    (deleteCartItem)="onRemoveCartItem($event)"></app-cart-item>
                    <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase,
                        adding
                        items to your cart does not mean booking them.</p>
                </div>
            </div>
        </div>
        <app-cart-amount></app-cart-amount>
    </div>
</div>